<div class="container">
<%= simple_form_for @cocktail do |f| %>
 <h5><%= f.input :name %></h5>
  <h5><%= f.input :photo, as: :file %><h5>
  <%= f.button :submit, class: "btn" %><br>
<% end %>

<%= link_to "Back", root_path, class: "btn mt-2" %>

</div>
